html {
  margin: 0;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(62, 67, 75);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  border: 1px solid rgba(253, 253, 253, 0);
  border-radius: 2px;
  color: aliceblue;
  background-color: rgba(0, 45, 103, 0.671);
}

button:hover {
  background-color: rgba(4, 69, 155, 0.655);
  cursor: pointer;
}

a {
  text-decoration: none;
}


.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(75, 74, 82);
  min-height: 10vh;
}

.shop {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgb(188, 187, 208);
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: rgb(62, 67, 75);
  flex-wrap: wrap;
}

.shop-container {
  display: block;
  width: 100%;
  padding: 0px;
  
}

.shop-cart-background {
  display: none;
  width: 107%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.416);
  padding: 0px;
  margin: -10vh
}

.shopCart {
  display: none;
  top:0;
  bottom: 0;
  flex-direction: column;
  position:fixed;
  opacity: 95%;
  min-width: 300px;
  max-width: 300px;
  overflow: scroll;
  border: 1px solid black;
  background-color: rgb(87, 87, 125);
  padding: 10px;

}

.shopCartContainer {
  display: flex;
  justify-content: flex-end;
  overflow: scroll;
}

.cartList {
  list-style:  none;
  padding: 0px;
  margin: 0px;
}

.game-title {
  margin-top: 0px;
}
.game-title-container {
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 0px;
  padding: 1px;
  
}
.info {
  font-size: x-small;
  margin: 0px;
  padding: 0px;
}
.store-link {
  font-size: small;
  width: 91%;
  justify-content: space-evenly;
  margin: 0px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0px;
}

.gameDiv {

  display: flex;
  flex-direction: column;
  align-items: center;
  color:aliceblue;
  height: 135px;
  width: 130px;
  margin: 0px;
  padding: 0px;
}


.gameDiv:hover {
  background-color: rgba(149, 149, 149, 0.408);
}

.gameDiv .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}


.gameDiv:hover .tooltip {
  visibility: visible;
}

.game-title {
  max-height:10px;
  padding: 0px;
  
}
.thumbnail {
  max-width: 125px;
  max-height: 100px;
}

/* .imag-container {
  display: flex;
  align-items: center;
  max-width: 20vh;
  max-height: 20vh;
  border: 1px solid red;
  
} */

.img, .img_add {
  max-width: 40vh;
  max-height: 40vh;
  padding: 10px;
  
}

Link {
  text-decoration: none;
}

.cartContainer {
  display: flex;
  justify-content: center;
  width: 100px;
}
.cartNav {
  position: relative;
  font-size: small;
  border: 1px solid gray;
  padding: 2px;
  
  
}

.cartNav:hover {
  background-color: rgba(129, 129, 129, 0.508);
}

.amoutInput {
  width: 10px;
  border: none;
}

.searchElem {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 200px;
}

.searchContainer {
  display: flex;
  flex-wrap: nowrap;
  width: 160px;
}

.search {
  display: flex;
  padding: 2px; 
  font-size: 0.9em;
  inline-size: 160px;
  line-height: 20px;
  border-color: rgb(95, 72, 117);
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
}

.searchButton {
  background: url(svg/search-svgrepo-com.svg) 0 0 no-repeat;
  background-size: cover;
  text-indent: -99999px; 
  width: 30px; 
  height: 30px;
  display: block;
  transform: scale(60%);
  position: relative;
  left: -35px;
  border: 2px solid rgb(40, 40, 62, 0);
  filter: invert(40%);
}

.searchButton:hover {
  filter: invert(60%);
  transform: scale(65%);
  cursor: pointer;
}

.searchContainer:hover .search {
  border: 2px solid lightblue;

  border-radius: 3px;
}
.search:focus {
  outline: none;
  
  border: 2px solid lightblue;
}

.mainDealsContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar-display-container {
  display: flex;
  position: relative;

}

.sidebar-shader {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 115.5%;
  height: 100%;
  margin-left: -5px;
  background-color: rgba(0, 0, 0, 0.416);

}

.sidebarContainer {
  display: flex;
  position: relative;
  padding: 5px;
  padding-top: 0px;
  background-color: rgb(60,60,60);
  min-width: 175px;
  height: 100%;
  

}

.categories {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  position: relative;

}
.box-result-main-container {
  display: flex;
  width: 350px;
  position: relative;
}

.search-box-result-open {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 350px;
  right: 30px;
  top: 26px;
  background-color: rgba(35, 35, 35, 0.853);
  margin: 5px;
}

.search-box-result-closed {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 350px;
  right: 30px;
  top: 26px;
  background-color: rgba(35, 35, 35, 0.853);
}

.results {
  display: flex;
  margin: 0px;
  border: 4px solid rgba(35, 35, 35, 0);
}
/* 
.results:hover {
  background-color: rgba(0, 0, 0, 0.778);
} */

.result-deal-box {
  padding: 0px;
  margin: 0px;
  
}

.result-box-container {
  padding: 0px;
  margin: 0px;
}

.result-box-container:hover {
  background-color: rgba(24, 23, 44, 0.908);
}

.message {
  display: flex;
  width: 99.5%;
  height: 15px;
  padding-left: 8px;
  margin: 0px;
  align-items: center;
  text-align: start;
  color: rgb(180, 190, 180);
  background-color: rgb(28, 27, 27);
}


.sidebar-container {
  display: flex;
  height: 100vh;
  top:0;
  position: sticky;
}
.game-container {
  padding: 0px;
  margin: 5px;
  border: 2px solid rgb(77, 97, 117);
  border-radius: 3px;
  align-items: center;
  
}

.add-to-cart-btn {
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.Steam {
  background: url(./svg/steam.svg) 0 0 no-repeat;
  margin: 3px;
  width: 120px;
  height: 20px;
  background-size: 100%;
}
.GoG {
  background: url(./svg/gog.svg) 0 0 no-repeat;
  margin: 3px;
  width: 45px;
  height: 25px;
  background-size: 75%;
  filter: invert(100%);
  
}

.sale-price {
  width: 95%;
  height: 20px;
  align-items: center;
  display: flex;
  padding: 0px;

}

