body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}


nav {
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(75, 74, 82);
  min-height: 10vh;
  border: 1px solid green;
}

.shop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: rgb(49, 60, 77);
  flex-wrap: wrap;
  border: 1px solid red;
}

.shopCart {
  display: none;
  top:0;
  bottom: 0;
  flex-direction: column;
  position:fixed;
  opacity: 95%;
  min-width: 300px;
  max-width: 300px;
  overflow: scroll;
  border: 1px solid black;
  background-color: rgb(40, 40, 62);
  padding: 10px;

}

.shopCartContaienr {
  display: flex;
  justify-content: flex-end;
  overflow: scroll;
}

.cartList {
  list-style:  none;
  padding: 0px;
  margin: 0px;
}

.game-title {
  margin-top: 0px;
}
.info {
  font-size: x-small;
  margin: 0px;
  padding: 0px;
}
.store-link {
  font-size: x-small;
  margin: 0px;
  padding: 0px;
}

.gameDiv {
  border: 1px solid green;
  height: 125px;
  width: 120px;
  margin: 20px;
}

.game-title {
  max-height:10px;
  padding: 0px;
  
}
.thumbnail {
  max-width: 125px;
  max-height: 100px;
}

/* .imag-container {
  display: flex;
  align-items: center;
  max-width: 20vh;
  max-height: 20vh;
  border: 1px solid red;
  
} */

.img, .img_add {
  max-width: 40vh;
  max-height: 40vh;
  padding: 10px;
  
}

Link {
  text-decoration: none;
}

.cartContainer {

}
.cartNav {
  position: -webkit-sticky;
  font-size: small;
  border: 1px solid gray;
  padding: 2px;
  
  
}
.cartNav:hover {
  background-color: rgba(129, 129, 129, 0.508);
}
.amoutInput {
  width: 10px;
  border: none;
}


.searchElem {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 5px;
}

.searchContainer {
  display: flex;
  flex-wrap: nowrap;
  width: 180px;
}
.search {
  padding: 2px; 
  font-size: 0.9em;
  inline-size: 160px;
  line-height: 20px;
  border-color: rgb(95, 72, 117);
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
}

.searchButton {
  background: url(svg/search-svgrepo-com.svg) 0 0 no-repeat;
  background-size: cover;
  text-indent: -99999px; 
  width: 30px; 
  height: 30px;
  display: block;
  transform: scale(60%);
  position: relative;
  left:-33px;
  border: 2px solid rgb(40, 40, 62, 0);
  filter: invert(40%);
  
  

}

.searchButton:hover {
  filter: invert(60%);
  transform: scale(65%);
  cursor: pointer;
}

.searchContainer:hover .search {
  border: 2px solid lightblue;

  border-radius: 3px;
}
.search:focus {
  outline: none;
  
  border: 2px solid lightblue;
}
