@font-face {
  font-family: "darksouls";
  src: local("darksouls"),
   url("./fonts/OptimusPrinceps.ttf") format("truetype");

}


html {
  margin: 0;
}
body {
  margin: 0;
  min-height: 100vh;
  background-image:linear-gradient(100deg, #24384e, black);
    font-family: "Motiva Sans", Sans-serif;
    font-weight:200px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {
  max-height: 300px;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 480px) {

  .shop {
    display: flex;
    flex-direction: column;
    width: 110%;
    color: rgb(188, 187, 208);
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: rgb(36, 56, 78);
    flex-wrap: wrap;
  }
  .shopCart {
    display: block;
    transition: transform 1s;
    top:0;
    bottom: 0;
    flex-direction: column;
    position:fixed;
    opacity: 95%;
    min-width: 310px;
    max-width: 310px;
    overflow: scroll;
    border: 1px solid black;
    background-color: #2f4f90f4;
    padding-right: 25px;
    z-index: 2;
  }
  .shopCart > div > p {
    padding-right: 10px;
  }
  .shop>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    height: 135px;
    width: 110px;
    margin: 0px;
  }
  .shop .game-container .gameDiv .thumbnail {
    max-width: 99px;
    max-height: 50px;
  }
  .shop .game-container .gameDiv {
    max-width: 99px;
    white-space: nowrap;
  }
  .nav-links {
    width: 65%;
    padding: 5px;
    margin: 0px;
    display: block;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  .nav-links>*{
    margin: 5px;
  }
  
  .cartNav {
    position: relative;
    color: rgb(183, 193, 202);
    text-align: center;
    width: 66px;
    max-width: 72px;
    min-width: 66px;
    font-size: small;
    border: 1px solid gray;
    position: -webkit-sticky;
    padding: 2px;
    margin-bottom:5px;
    
    
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #171a21;
    min-height: 100%;
  }

  .searchElem {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 180px;
  }
  
  .searchContainer {
    display: flex;
    margin: 5px;
    flex-wrap: nowrap;
    width: 180px;
  }
  .search {
    display: flex;
    padding: 2px; 
    font-size: 0.9em;
    inline-size: 160px;
    line-height: 20px;
    border-color: #4d6175;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 3px;
    width: 160px;
  
  }
  
  .sidebarContainer {
    color: rgb(183, 193, 202);
    display: none;
    visibility: visible;
    position: relative;
    padding: 5px;
    padding-top: 0px;
    background-color: #1a293a;
    min-width: 210px;
    height: 100%;
    
  
  }
  .filter-show:checked + .sidebar-container .sidebarContainer {
    display: block;
    transform: translateX(110%);
  }

  .filter-show {
    display:none;
    position:absolute;
    top: 165px;
    color: white;
    border: 1px solid gray;
    width: 40px;
    cursor: pointer;
    height: 20px;
  }
  .filter-show-label {

    position:absolute;
    margin-left: 5px;
    top: 132px;
    color: aliceblue;
    border: 1px solid gray;
    padding: 1px;
    align-items:center;
    text-align: center;
    font-size: small;
    width: 50px;
    cursor: pointer;
    height: 20px;
  }
  .sidebar-container {
    display: none;
    height: 100vh;
    transform: translateX(-110%);
    top:0;
    position: sticky;
  }

  .categories {
    width: 200px;
  }

  .home-carousel {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    z-index: 0;
    color: #737d94
  }

  .home-background-img-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .home-background-img {
    background: url(./svg/darksouls_knight_no_background_crop1.png) 0 0 no-repeat;
    background-size: cover;
    margin-top: 5px;
    border-radius: 15px;
    filter: grayscale(50%);
    filter: invert(-20%);
    filter:contrast(150%);
    min-height: 450px;
    min-width: 500px;
    margin-left: 400px;
    
  }
  
  .home-deals-link-container {
    display: flex;
    flex-direction: row;
    min-width: 200%;
    margin-left: 80px;
    
  }
  .bonfire-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 600px;
  }
  
  .phrase-container {
    margin-top: 10px;
    margin-right: 630px;
    margin-bottom: 200px;
    padding-bottom: 0px;
    font-size: medium;
    font-family: darksouls;
    color: rgb(205, 180, 155);
    width: 400px;
  }

  .home-title:hover {
    color: aliceblue;
    background-color: #4d6175;
  }

  .loading{
    width: 100%;
    color: green;
    display: flex;
    flex-direction:column;
    align-items: center;
    position: absolute;
    top: 300px;
    z-index: 3;
  }

  .gameDiv:hover {
    background-color: rgba(149, 149, 149, 0.408);
  }


.search-box-result-open {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  right: 30px;
  top: 26px;
  background-color: rgba(35, 35, 35, 0.853);
  margin: 5px;
  z-index: 1;
}

.about-credits-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.about-credits {
  display: flex;
  flex-direction: column;
}

.about-credits>* {
  max-width: 350px;
  max-height: 200px;
  padding:0px;
}

}

@media only screen and (min-width: 480px) {

  .shop {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgb(188, 187, 208);
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: rgb(36, 56, 78);
    flex-wrap: wrap;
  }

  .shopCart {
    display: block;
    transition: transform 1s;
    top:0;
    bottom: 0;
    flex-direction: column;
    position:fixed;
    opacity: 95%;
    min-width: 310px;
    max-width: 310px;
    overflow: scroll;
    border: 1px solid black;
    background-color: #2f4f90f4;
    padding: 10px;
    z-index: 2;
  
  
  }

  .sidebarContainer {
    color: rgb(183, 193, 202);
    display: flex;
    position: relative;
    padding: 5px;
    padding-top: 0px;
    background-color: #1a293a;
    min-width: 230px;
    height: 100%;
  }
  
.loading{
  width: 100%;
  color: green;
  display: flex;
  flex-direction:column;
  align-items: center;
  position: absolute;
  top: 150px;
  z-index: 3;
}
.filter-show {
  display: none;
}
.filter-show-label {
  display:none;
}
.home-background-img-container {
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.home-carousel {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  z-index: 0;
  color: #737d94
}

.home-background-img {
  background: url(./svg/darksouls_knight_no_background_crop1.png) 0 0 no-repeat;
  background-size: cover;
  margin-top: 5px;
  border-radius: 15px;
  filter: grayscale(50%);
  filter: invert(-20%);
  filter:contrast(150%);
  min-height: 650px;
  min-width: 600px;
  
}

.home-deals-link-container {
  display: flex;
  flex-direction: row;
  min-width: 25%;
  justify-content: space-between;
}

.bonfire-container{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding-top: 0px;
  margin-left: 0px;
  width: 600px;

}

.phrase-container {
  margin-top: 120px;
  margin-right: 180px;
  margin-bottom: -40px;
  padding-bottom: 0px;
  font-size: medium;
  font-family: darksouls;
  color: rgb(205, 180, 155);
  width: 300px;
}

.search-box-result-open {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 350px;
  right: 30px;
  top: 26px;
  background-color: rgba(35, 35, 35, 0.853);
  margin: 5px;
  z-index: 1;
}

.about-credits-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.about-credits {
  display: inline-grid;
  grid-template-columns: 450px 450px ;
  grid-template-rows: 300px 300px ;
  
}

}

button{
  border: 1px solid rgba(253, 253, 253, 0);
  border-radius: 2px;
  color: aliceblue;
  background-color: rgba(0, 45, 103, 0.671);
}

li {
  color: rgb(183, 193, 202);

}

li:hover {
  color: white;
  text-decoration: none;
  /* text-decoration-color: #14345e */
}

button:hover {
  background-color: rgba(4, 69, 155, 0.655);
  cursor: pointer;
}

button:active {
  filter:grayscale(40%);
}

a {
  text-decoration: none;
}

.store-logo {
  display: flex;
  justify-content: center;
  background: url(/src/svg/stem.svg) 0 0 no-repeat;
  background-size: cover;
  background-position: -10px;
  font-size: larger;
  height: 50px;
  width: 70px;
  align-items: center;
  text-align: center;

}
.store-logo span {
  margin-top: 33px;
  margin-left: 35px;
  margin-right: 4px;
  padding-left: 2px;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}


nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #171a21;
  min-height: 100%;
}

.shop-container {
  display: block;
  width: 100%;
  padding: 0px;
  
}

.shop-cart-background {
  display: block;
  width: 100%;
  height: 110%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.416);
  padding: 0px;
  z-index: 2;
}

.item-title-cart {
  display: inline;
  padding: 0px;
  margin: 0px;
  margin-left: 2px;
  margin-right: 2px;
}
.inner-item-title-cart {
  display:inline-flex;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
  width: 200px;
  overflow: hidden;

}
.cart-buttons {
  display:inline;
  padding-top: 0px;
  font-size: medium;
  font-weight: 500;
  border-radius: 3px;
  margin: 2px;
}

.button-list {
  display: inline;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;

}

.shopCartContainer {
  display: flex;
  justify-content: flex-end;
  overflow: scroll;
  
}

.cartList {
  list-style:  none;
  padding: 0px;
  margin: 0px;
}

.game-title {
  margin-top: 0px;
}
.game-title-container {
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 0px;
  width: 103px;
  overflow: hidden;
  padding: 1px;
  
}
.info {
  font-size: x-small;
  margin: 0px;
  padding: 0px;
}
.store-link {
  font-size: small;
  width: 91%;
  justify-content: space-evenly;
  margin: 0px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0px;
}

.gameDiv {

  display: flex;
  flex-direction: column;
  align-items: center;
  color:aliceblue;
  height: 135px;
  width: 130px;
  margin: 0px;
  padding: 0px;
}
.tooltip-div {
  position: relative;
 
}

.tooltip-div .tooltip {
  display: none;
  width: 230px;
  min-height: 180px;
  max-height: 380px;
  background-color: rgba(35, 35, 38, 0.898);
  color: #fff;
  text-align: center;
  padding: 5px;
  padding-top: 7px;
  border-radius: 2px;
  /* transform: translate(-10%, -10%) scale(0.75) rotate(0deg); */
  transition: 1s ease-in-out;
  top: -157px;
  right: 70px;
  position: absolute;
  z-index: 0;
  text-align:center;
}

.tooltip:before{
  content:'';
  display:block;
  width:0;
  height:0;
  position: absolute;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent; 
  border-left: 12px solid rgba(35, 35, 38, 0.898);
  left: 239px;
  top: 80px;
}

.tooltip-div:hover {
  display: none;
}

.game-container:hover .tooltip {
  display: block;
  
}

.carousel {
  position: relative;;
}
.slide-track {
  display: flex;
  position:relative;
  max-height: 180px;
  min-height: 130px;
  padding: 0px;
  margin: 0px;
	
}

.description {
  position: relative;
  
}

.slide-track>* {
  position: absolute;
  left:0;
	right:0;
	top:0;
	bottom:0;
  max-height: 130px;
	background-size: cover;
}

.slide-track>*:nth-child(1) {
	animation:fade1 25s infinite;  
}

@keyframes fade1 {
	0%   {opacity:1}
	20%  {opacity:0}
}

.slide-track>*:nth-child(2) {
	animation:fade2 25s infinite;
}
@keyframes fade2 {
	0%   {opacity:0}
	20%  {opacity:1}
	30%  {opacity:1}
	40%  {opacity:0}
}

.slide-track>*:nth-child(3) {
	animation:fade3 25s infinite;
}
@keyframes fade3 {
	0%   {opacity:0}
	20%  {opacity:0}
	40%  {opacity:1}
	50%  {opacity:1}
}

.slide-track>*:nth-child(4) {
	animation:fade4 25s infinite;
}
@keyframes fade4 {
	0%   {opacity:0}
	20%  {opacity:0}
	40%  {opacity:0}
	50%  {opacity:0}
	60%  {opacity:1}
}

.main-home-container {
  width:100%;
  height: 100%;
}

.home-title {
  font-size: medium;
  color:rgb(188, 187, 208);
  border: 2px solid #515767;
  text-decoration:'none';
  border-radius: 2px;
  padding: 5px;
  width: 250px
}
.home-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.home-title:hover {
  color: aliceblue;
  background-color: #4d6175;
}

.home-slide-track {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr;
  grid-template-rows: 4fr 4fr;
  overflow: hidden;
  border: 2px solid #171a21;
}


@keyframes phrase-phase1 {
  0% {opacity: 0;}
  5% {opacity: 1;}

}
@keyframes phrase-phase2 {
  0% {opacity: 0;}
  5% {opacity: 0;}
  10% {opacity: 1;}
}

@keyframes phrase-phase3 {
  0% {opacity: 0;}
  5% {opacity: 0;}
  10% {opacity: 0;}
  15% {opacity: 1;}
}

@keyframes phrase-phase4 {
  0% {opacity: 0;}
  5% {opacity: 0;}
  10% {opacity: 0;}
  15% {opacity: 0;}
  20% {opacity: 1;}
}

@keyframes phrase-phase5 {
  0% {opacity: 0;}
  5% {opacity: 0;}
  10% {opacity: 0;}
  15% {opacity: 0;}
  20% {opacity: 0;}
  25% {opacity: 0;}
  30% {opacity: 0;}
  35% {opacity: 1;}
}

@keyframes phrase-phase6 {
  0% {opacity: 0;}
  5% {opacity: 0;}
  10% {opacity: 0;}
  15% {opacity: 0;}
  20% {opacity: 0;}
  25% {opacity: 0;}
  30% {opacity: 0;}
  35% {opacity: 0;}
  40% {opacity: 0;}
  45% {opacity: 1;}
}

@keyframes phrase-phase7 {
  0% {opacity: 0;}
  5% {opacity: 0;}
  10% {opacity: 0;}
  15% {opacity: 0;}
  20% {opacity: 0;}
  25% {opacity: 0;}
  30% {opacity: 0;}
  35% {opacity: 0;}
  40% {opacity: 0;}
  45% {opacity: 0;}
  55% {opacity: 1;}
}


@keyframes phrase-phase8 {
  0% {opacity: 0;}
  5% {opacity: 0;}
  10% {opacity: 0;}
  15% {opacity: 0;}
  20% {opacity: 0;}
  25% {opacity: 0;}
  30% {opacity: 0;}
  35% {opacity: 0;}
  40% {opacity: 0;}
  45% {opacity: 0;}
  50% {opacity: 0;}
  55% {opacity: 0;}
  60% {opacity: 1;}
}

@keyframes phrase-phase9 {
  0% {opacity: 0;}
  5% {opacity: 0;}
  10% {opacity: 0;}
  15% {opacity: 0;}
  20% {opacity: 0;}
  25% {opacity: 0;}
  30% {opacity: 0;}
  35% {opacity: 0;}
  40% {opacity: 0;}
  45% {opacity: 0;}
  50% {opacity: 0;}
  55% {opacity: 0;}
  60% {opacity: 0;}
  70% {opacity: 1;}
}

.darksouls-phrase1>*:nth-child(1) {
  animation: phrase-phase1 5.5s ease-in;

}
.darksouls-phrase1>*:nth-child(2) {
  animation: phrase-phase2 5.5s ease-in;

}
.darksouls-phrase1>*:nth-child(3) {
  animation: phrase-phase3 5.5s ease-in;

}
.darksouls-phrase1>*:nth-child(4) {
  animation: phrase-phase4 5.5s ease-in;

}
.darksouls-phrase2>*:nth-child(1) {
  animation: phrase-phase5 5.8s  ease-in;

}
.darksouls-phrase2>*:nth-child(2) {
  animation: phrase-phase6 5.8s  ease-in;

}
.darksouls-phrase3>*:nth-child(1) {
  animation: phrase-phase7 5.8s ease-in;

}
.darksouls-phrase3>*:nth-child(2) {
  animation: phrase-phase8 5.8s ease-in;

}
.darksouls-phrase3>*:nth-child(3) {
  animation: phrase-phase9 5.9s ease-in;

}

.bonfire {
  background: url(/src/svg/bonfire-manual-final-ver.gif) 0 0 no-repeat ;
  background-size: 100%;
  width: 300px;
  border-image-slice: 40%;
  height: 350px;

}

.slides-container {
  display: block;
  position: relative;
  width: 240px;
  height: 120px;

}

@keyframes homeCarouselFade {
  0%   {opacity:1}
  10%   {opacity:0}
  20%   {opacity:0}
  45%  {opacity:0}
  55%  {opacity:0}
  65%  {opacity:0}
  80% {opacity:0}

}

.home-slide-track>*:nth-child(odd)>:nth-child(1) {
  display: flex;
  position: absolute;
  animation: homeCarouselFade 25s 14s infinite;
}

.home-slide-track>*:nth-child(even)>:nth-child(1) {
  display: flex;
  position: absolute;
  animation: homeCarouselFade 25s 15s infinite;
}

.home-slide-track>*:nth-child(odd)>:nth-child(2) {
  display: flex;
  position: absolute;
  animation: homeCarouselFade 25s 8s infinite;
}

 .home-slide-track>*:nth-child(even)>:nth-child(2) {
  display:flex; 
   position:absolute; 
   animation : homeCarouselFade 25s 9s infinite; 
 }

.home-slide-track>*:nth-child(odd)>:nth-child(3){
    display:flex; 
    position:absolute; 
    animation : homeCarouselFade 25s 4s infinite ; 
}

.home-slide-track>*:nth-child(even)>:nth-child(3){
    display:flex; 
    position:absolute; 
    animation : homeCarouselFade 25s 5s infinite ; 
}



.home-carousel-slide {
  display: block;
  width: 240px;
  height: 120px;
  object-fit: cover;
  z-index: 0;
  
}

@keyframes homeCarousel {
  
  100% {
     transform: translateX(-100%); }
}

.gameDiv:hover {
  background-color: rgba(149, 149, 149, 0.408);
}

.game-title {
  max-height:10px;
  padding: 0px;
  
}
.thumbnail {
  max-width: 125px;
  max-height: 75px;
  margin-right: 3px;
}


.img, .img_add {
  max-width: 40vh;
  max-height: 40vh;
  padding: 10px;
  
}

Link {
  text-decoration: none;
}

.cartContainer {
  display: flex;
  justify-content: center;
  width: 66px;
  max-width: 70px;
  min-width: 65px;
}
.cartNav {
  position: relative;
  color: rgb(183, 193, 202);
  text-align: center;
  width: 66px;
  max-width: 72px;
  min-width: 66px;
  font-size: small;
  border: 1px solid gray;
  padding: 2px;
  
  
}

.cartNav:hover {
  background-color: rgba(129, 129, 129, 0.508);
}

.amoutInput {
  width: 10px;
  border: none;
}

.searchElem {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 240px;
}

.searchContainer {
  display: flex;
  margin: 5px;
  flex-wrap: nowrap;
  width: 200px;
}

.search {
  display: flex;
  padding: 2px; 
  font-size: 0.9em;
  inline-size: 160px;
  line-height: 20px;
  border-color: #4d6175;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
  width: 200px;

}



.searchButton {
  background: url(svg/search-svgrepo-com.svg) 0 0 no-repeat;
  background-size: cover;
  text-indent: -99999px; 
  width: 30px; 
  height: 30px;
  display: block;
  transform: scale(60%);
  position: relative;
  left: -35px;
  border: 2px solid rgb(40, 40, 62, 0);
  filter: invert(40%);
}

.searchButton:hover {
  filter: invert(60%);
  transform: scale(65%);
  cursor: pointer;
}

.searchContainer:hover .search {
  border: 2px solid lightblue;

  border-radius: 3px;
}
.search:focus {
  outline: none;
  
  border: 2px solid rgb(136, 144, 166);
}
.search:hover {
  outline: none;
  border: 2px solid rgb(136, 144, 166);
}

.mainDealsContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar-display-container {
  display: flex;
  position: relative;

}

.sidebar-shader {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 120%;
  height: 100%;
  margin-left: -42px;
  background-color: rgba(0, 0, 0, 0.416);

}

.categories {
  display: flex;
  color: #c3cddb;
  min-width: 200px;
  flex-direction: column;
  position: relative;

}
.labels-container {
  border: 1px solid rgba(203, 203, 203, 0.478);
  margin-left: 5px;
  margin-right: 5px;
  min-width: 200px;
}

label {
  display: flex;
  width: 200px;
}
label:hover {
  cursor: pointer;
}
.labels {
  min-width: 60px;
}
.labels:hover {
  cursor: pointer;
  background-color:rgba(203, 203, 203, 0.478) ;
}
input[type='checkbox']:hover {
  cursor: pointer;
}
.sidebar-check {
  -webkit-filter: invert(20%)
}

.sidebar-check:checked {
  -webkit-filter: invert(100%);

}
.box-result-main-container {
  display: flex;
  width: 350px;
  position: relative;
}

.search-box-result-closed {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 350px;
  right: 30px;
  top: 26px;
  background-color: rgba(35, 35, 35, 0.853);
}

.results {
  display: flex;
  margin: 0px;
  border: 4px solid rgba(35, 35, 35, 0);
}

.result-deal-box {
  padding: 0px;
  margin: 0px;
  
}

.result-box-container {
  padding: 0px;
  margin: 0px;
}

.result-box-container:hover {
  background-color: rgba(203, 203, 203, 0.478);
}

.message {
  display: flex;
  width: 99.5%;
  height: 15px;
  padding-left: 8px;
  padding-bottom: 1px;
  padding-top: 2px;
  margin: 0px;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  color: rgb(183, 193, 202);
  background-color:#2f4f90bc;
}


.sidebar-container {
  display: flex;
  height: 100vh;
  top:0;
  position: sticky;
}
.game-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 5px;
  border: 2px solid rgb(77, 97, 117);
  border-radius: 3px;
  align-items: center;
  
}

.add-to-cart-btn {
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.add-to-cart-btn-search-box {
  width: 27%;
  border-radius: 0px;
  position: absolute;
  left: 127px;
  margin-top: 29px
}

.Steam {
  background: url(./svg/steam.svg) 0 0 no-repeat;
  margin: 3px;
  width: 120px;
  height: 20px;
  background-size: 100%;
}
.GoG {
  background: url(./svg/gog.svg) 0 0 no-repeat;
  margin: 3px;
  width: 45px;
  height: 25px;
  background-size: 75%;
  
  
}

.sale-price {
  width: 95%;
  height: 20px;
  align-items: center;
  display: flex;
  padding: 0px;

}

.about {
  color: aliceblue;
  padding: 10px;
  margin: 10px;
}

.cheapshark-img {
  background: url(/src/svg/cheapshark_logo_text.webp) 0 0 no-repeat;
  background-size: 60%;
  width: 250px;
  height: 250px;
}

.cheapshark-about-container, .steam-about-container, .midjourney-container, .fromsoftware-container {

  width: 450px;
  height: 300px;
}